.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo{
    font-size: 1.12rem;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1rem 0;
}

.banner__pesquisa{
    background-color: transparent;
    color: var(--branco);
    border: 1.5px solid var(--branco);
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../assets/Pesquisa.svg") no-repeat;
    background-position: 1rem;
}

@media screen and (min-width:1024px){
    
    .banner{
        padding: 5.5rem 2rem;
    }

    .banner__titulo{
        font-size: 2.25rem;
    }

    .banner__pesquisa{
        margin-top: 1rem;
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 4.5rem;
    }
}

@media screen and (min-width: 1728px){
    
    .banner__pesquisa{
        width: 38%;
    }

    .banner__pesquisa::placeholder{
        background-position: 10rem;
    }
}