.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.cabeçalho__menu-hamburguer{
    width: 40px;
    height: 40px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /*prende a cor de background apenas no texto*/
    text-transform: uppercase;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.container__botao{
    display: none;
}

.container__imagem{
    padding: 0.5rem;
}

.container__titulo, .opcoes{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .cabeçalho{
        padding: 0 2rem;
    }

    .cabeçalho__menu-hamburguer{
        display: none;
    }

    .container__titulo, .container__titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 1.8rem;
    }

    .container__titulo{
        display: block; /*temos que colocar pois fora do media ele foi definido como none, então só aparecerá com outro display sobrescrevendo*/
        padding-top: 1rem;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .lista-menu{
        width: 20vw;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
    }

    .opcoes__botao{
        display: none;
    }

    .container__imagem-transparente{
        display: none;
    }

    .container__imagem-espacada{
        padding-right: 3rem;
    }
}