.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}

.cabeçalho__menu-hamburguer{
    width: 40px;
    height: 40px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem{
    padding: 1rem;
}